<div class="section-header text-center pb-5">
    <h2><span class="text-warning">App</span>Studio Community Documentation</a></h2>
    <p>Building an app is a time-consuming and costly process that involves multiple teams and computing power.
    <p> Enter App Studio – with App Studio, you can streamline the process by inputting your repository URL and letting
        us handle the pipeline building, snapshot generation, code testing, and hybrid cloud deployment. Get your app
        out to the world quickly and see the value it creates.</p>
    <p>App Studio serves as the upstream code base for documentation and provides a community for learning, help, and
        knowledge sharing</p>
</div>