<div class="section-header text-center pb-5">
    <h3><span class="text-warning">App</span> Studio Community Documentation</a></h3>
    <p>Building an app is a time-consuming and costly process that involves multiple teams and computing power.
    <p>With App Studio, you can streamline this process by inputting your repository URL and letting
        us handle the rest: pipeline building, snapshot generation, code testing, and hybrid cloud deployment. Get your app
        out to the world quickly and see the value it creates.</p>
    <p>App Studio serves as both the upstream code base for documentation and as a community for learning, help, and
        knowledge sharing.</p>
</div>