<div class="card text-white text-center bg-primary pb-2">
    <div class="card-body">
        <i class="bi bi-laptop"></i>
        <h3 class="card-title">Get Started Guide</h3>
        <p class="lead">App Studio is a multi-tenant, software as a service (SaaS) based continuous
            integration and continuous delivery (CI/CD) service with an emphasis on secure supply
            chain features.</p>
        <button class="btn bg-warning text-dark">Read Documentation</button>
    </div>
</div>