    <div class="row justify-content-center">
        <form action="/search/" method="get"
            class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <label class="sr-only" for="st-search-input">Search</label>
            <input id="st-search-input" class="form-control" name="q"
                placeholder="Search" type="search" autocomplete="off"
                spellcheck="false" dir="auto" autofocus data-hj-allow />
            <div id="autocompleteResults"></div>
        </form>
    </div>